@{
	ViewData["Title"] = "Privacy Policy";
}
<div class="d-flex justify-content-center align-items-center">
	<div class="text center"
		<h1>
			Oi sou a Yas
		</h1>

	<div class="card" style="width: 18rem;">
		<img src=" /img/foto.jpg" />
		<div class="card-body">
				<h5 class="card-title">Sobre mim</h5>
				<p class="card-text">Olá me chamo Yasmin, tenho 17 anos e estudo Desenvolvimento de Sistemas no SENAI em 2025</p>

				<a asp-controller="Home" asp-action="Index" class="btn btn-info btn-lg btn-sm btn-">Voltar a tela incial</a>
				<a href="https://github.com/yasminbiaze" class="btn btn-info btn-lg btn-sm btn-">GitHub</a>

		</div>
	</div>
	</div>
</div>
